{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <hr>

    {% include 'category/_category_header.html.twig' with {'category': category} %}

    {% include 'partials/_posts_array.html.twig' with {'posts': category.posts} %}
{% endblock %}


