{% extends 'base.html.twig' %}

{% block title %}Mettre à jour{% endblock %}

{% block body %}
    <h1>Mettre à jour la catégorie</h1>

    <hr>

    {% include 'category/_form.html.twig' with {'button_label': 'Mettre à jour'} %}
{% endblock %}


