{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1>Créer un nouvel article</h1>

    <hr>

    {% include 'post/_post_header.html.twig' %}

    {% include 'post/_form.html.twig' %}
{% endblock %}


