{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Les articles</h1>

    <hr>

    <a href="{{ path('post_add') }}" class="btn btn-success float-end mb-3"><span class="fa-solid fa-plus"></span></a>

    {% include 'partials/_posts_array.html.twig' with {'posts': posts} %}
{% endblock %}
