{% extends 'base.html.twig' %}

{% block title %}Mise à jour{% endblock %}

{% block body %}
    <h1>Mettre à jour votre article</h1>

    <hr>

    {% include 'post/_post_header.html.twig' %}

    {% include 'post/_form.html.twig' with {'button_label': 'Mettre à jour'} %}
{% endblock %}


