<h1>Bonjour {{ data.firstname }} {{ data.lastname }}!</h1>

<p>
    Vous nous avez contacter pour {{ data.subject }} et votre message était le suivant :
</p>

<p>{{ data.message }}</p>

<p>
    Nous vous recontacterons rapidement.
    <br>
    Cordialement.
    Le meilleur site du monde !
</p>

